


body{
  background-color: rgb(42, 43, 46);
  color: rgb(215, 185, 213);
  font-family: "Comic Sans MS", "Comic Sans", cursive, "Brush Script MT", serif;
  margin: 0px;
  user-select: none;
}


.content{
  padding-left: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(90, 90, 102);
  box-sizing: border-box;
  border-style: solid;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.content h1{
  text-align: center;
}


#p5-pane{
  width: 500px; /* Can be in percentage also. */
  height: 500px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

button{
  border: none;
  background-color: rgb(135, 255, 101);
  transition: border-radius 0.5s, font-size 1s;
  text-align: center;
  font-size: 15px;
  color: rgb(42, 43, 46);

  height:34px;
  width: 90px;
  margin-bottom: 50px;
}

button:hover{
  border-radius: 10px;
  font-size: 14px;
}


#check-pane{
  float: left;
  padding-top: 170px;
  padding-left: 20%;
  text-align: center;
}

#iterationsLabel{
  display: inline-block;
}

#iterations{
  display: inline-block;
}






/* End */
